<div style="width: 100%; height: 150px; margin: 0; line-height: 150px; background-color:darkcyan;">
    <h3 style="text-align: center; word-break: break-all; vertical-align:middle; color:white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">{heading}</h3>
</div>
<hr style="height: 5px; width: 100%; margin: 0; background-color: brown" />
<div style="width: 100%; height: 150px; margin: 0; padding: 25px; background-color:bisque;">
    <h3 style="margin-bottom: 10px; word-break: break-all; text-indent: 50px;">Dear {email},</h3>
    <p style="margin-top: 20px; word-break: break-all; text-indent: 10px; font-size: larger; font-family: 'Times New Roman', Times, serif">
        {text}
    </p>
</div>
<hr style="height: 5px; width: 100%; margin: 0; background-color: brown" />
<div style="width: 100%; height: 100px; margin: 0; padding-top: 15px; padding-left: 30px; background-color: cadetblue">
    <p style="color: white; font-size: larger; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Kind regards,</p>
    <p style="color: white; font-size: larger; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Internet Shop</p>
</div>