
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top: 15px;">
    <div class="col-sm-8 col-sm-push-2" style="background-color: antiquewhite;border-radius: 5px;">
        <div class="form-horizontal col-sm-8 col-sm-push-2" style="margin: 10px; padding: 10px;">
            <div class="form-group">
                <input type="email" placeholder="Email" name="email" class="form-control" />
            </div>
            <div class="form-group">
                <button type="button" id="send" class="btn btn-success btn-block">Send restoration letter</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
<script type="text/javascript">

    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

    $(document).ready(function () {

        $("#send").click(function () {

            var email = $('input[name="email"]').val();

            if(validateEmail(email)){
                $.ajax({
                    method: 'POST',
                    url: '/Auth/ChangePassword?email=' + email,
                    contentType: 'application/json; charset=utf-8',
                    success: function(res){
                        alert("Letter with restoration credentials has been successfully sent to your email");
                        setTimeout(function () { location.href='@Url.Action("Products", "Main")'; }, 2500);
                    },
                    error: function(res){
                        alert(res.statusText);
                    }           
                });
            }
            else{
                alert("Email is not valid");
                return;
            }
        });
    });


</script>
}

