@model InternetShop_Dynamic.Models.RestorePasswordEntry

@{
    ViewBag.Title = "RestorePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);

    string message = ViewData.ContainsKey("message") ? ViewData["message"].ToString() : "";
}

<div class="row" style="margin-top: 10px;">
    <div class="col-sm-8 col-sm-push-2" style="background-color: antiquewhite; border-radius: 5px;">
        <form class="form-horizontal col-sm-8 col-sm-push-2" style="margin: 10px; padding: 10px;">
            <div class="form-group">
                <input type="password" data-val="true" data-val-required="Please enter new password" class="form-control" name="pwd" placeholder="New password" />
            </div>
            <div class="form-group">
                <input type="password" data-val="true" data-val-required="Please enter password confirmation" class="form-control" name="confirm_pwd" placeholder="Confirm password" />
            </div>
            <div class="form-group col-sm-4 col-sm-push-4">
                <button type="button" id="change_pwd" class="btn btn-success btn-block">Change</button>
            </div>
        </form>
    </div>
</div>

@section scripts{
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        if ('@message'.length > 0) {
            alert('@message');
        }

        $("#change_pwd").click(function () {

            var pwd = $('input[name="pwd"]').val();
            var cpwd = $('input[name="confirm_pwd"]').val();

            if (pwd == "" || cpwd == "" || pwd != cpwd) {
                alert("Wrong input");

            }
            else {
                var toPass = {
                    UserId: '@Model.UserId',
                    Guid: '@Model.Guid',
                    NewPassword: pwd,
                    ConfirmPassword: cpwd
                };

                $.ajax({
                    method: 'POST',
                    url: '/api/Account/SetPassword',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(toPass),
                    success: function (res) {
                        alert("Password successfully reset");
                        setTimeout(function () { location.href = '@Url.Action("Products", "Main")'; }, 2500);
                    }
                });
            }

        });

    });


</script>
}